# ---- Python ----
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
build/
dist/
*.spec

# ---- Virtual environments ----
.venv/
venv/
env/

# ---- IDE / editor ----
.idea/
.vscode/
*.swp
*.swo

# ---- OS junk ----
desktop.ini
Thumbs.db
.DS_Store
